@CHARSET "UTF-8";

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 1000px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #d9eae8;
	height: 100%;
}

h4{
	font-family: Times New Roman;

}

.panel-default > .panel-heading-custom {
	background: #d9eae8; 	
}

.panel-default > .panel-body-custom {
	min-height : 200px;
		
}


.clickable-row:hover{
 background-color: #d9eae8;
 cursor:pointer;
}


.table-condensed thead{
	background: #eee;
	
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}	

}